# 🐍 Entorno virtual
venv/

# 🧠 Archivos compilados de Python
__pycache__/
*.pyc

# 🗃 Base de datos local
test.db
*.db

# ⚙️ Variables de entorno
.env

# 🧾 Logs (por si luego usas)
*.log

# 🐳 Docker
*.env

# 🧪 Archivos temporales del sistema
.DS_Store
Thumbs.db